numpy
scipy
pandas
matplotlib
open3d==0.19.0
catkin_pkg
pybullet==2.7.9
torch
pytorch-ignite
tensorboard
tqdm
trimesh
urdfpy
cython
scikit-image
pykdtree
torch==2.5.1
torchvision==0.20.1
# pip install --force-reinstall torch-scatter -f https://data.pyg.org/whl/torch-2.5.1+cu124.html
